.button {
    $self:&;
    padding: 1rem 2rem;
    background-color: rgba($color--primary, 0.25);
    color: white;
    cursor: pointer;
    border: 2px solid $color--primary;

    &#{$self}--small {
        padding: 0.5rem 1rem;
        
    }

    &.danger {
        background-color: rgba($color--warning, 0.25);
        border: 2px solid $color--warning;
    }
}