$color--background: #39505f;
$color--primary: #1a3546;
$color--secondary: #E8D0A9;
$color--secondary-text: white;



$color--warning: red;


$font--heading: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
$font--std: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
